//font color 
$primary: #fff;
$secondary: #000;
$gray-300: #8A8990;
$blue-300: #9bdeff;
$green-900: #32796B;
$green-700: #488C7D;
$green-500: #6fc6b3;
$green-300: #90D4C5;

//font size
$size-biggest: 4.5rem;
$size-big: 2.5rem;
$size-medium: 2rem;
$size-small: 1.2rem;
$size-smaller: 0.5rem;

//font weight
$weight-bold: 900;
$weight-medium: 700;
$weight-regular: 500;
$weight-light: 300;