@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,500;9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Barlow", sans-serif;
}

@-webkit-keyframes UpDown {
  0% {
    top: 0;
  }
  100% {
    top: 1rem;
  }
}

@keyframes UpDown {
  0% {
    top: 0;
  }
  100% {
    top: 1rem;
  }
}
.wrap {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
.wrap header {
  color: #fff;
  position: relative;
}
.wrap header .header-bgImage {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.wrap header .header-bgImage .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Barlow", sans-serif;
}
@media (max-width: 769px) {
  .wrap header .header-bgImage .nav {
    padding: 1rem 3rem;
  }
}
.wrap header .header-bgImage .nav .logo {
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 769px) {
  .wrap header .header-bgImage .nav .logo {
    padding-left: 0;
  }
}
.wrap header .header-bgImage .nav .nav-item {
  display: flex;
  cursor: pointer;
  text-align: center;
}
.wrap header .header-bgImage .nav .nav-item > div {
  width: 140px;
  padding: 1rem;
}
.wrap header .header-bgImage .nav .nav-item > div > a {
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
.wrap header .header-bgImage .nav .nav-item > div:hover {
  background-color: #9bdeff;
  border-radius: 5rem;
  transition: all 2s;
}
.wrap header .header-bgImage .nav .nav-item > div:hover a {
  font-weight: 700;
}
@media (max-width: 769px) {
  .wrap header .header-bgImage .nav .nav-item {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .wrap header .header-bgImage .nav .nav-item {
    display: none;
  }
}
.wrap header .header-bgImage .nav .nav-menu {
  display: none;
}
@media screen and (max-width: 1025px) {
  .wrap header .header-bgImage .nav .nav-menu {
    display: block;
  }
  .wrap header .header-bgImage .nav .nav-menu > img {
    width: 30px;
    height: 30px;
  }
  .wrap header .header-bgImage .nav .nav-menu > .menu-item {
    display: none;
  }
  .wrap header .header-bgImage .nav .nav-menu:hover .menu-item {
    display: block;
    position: absolute;
    right: 2rem;
    width: 40%;
    height: auto;
    background-color: #8A8990;
  }
  .wrap header .header-bgImage .nav .nav-menu:hover .menu-item > div {
    font-size: 1.2rem;
    padding: 1rem 1rem;
  }
  .wrap header .header-bgImage .nav .nav-menu:hover .menu-item > div > a {
    text-decoration: none;
    color: #fff;
  }
  .wrap header .header-bgImage .nav .nav-menu:hover .menu-item > div:hover {
    background-color: #9bdeff;
  }
}
.wrap header .header-bgImage .header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fraunces", serif;
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 3rem;
}
.wrap header .header-bgImage .header-main > p.icon-arrow-down {
  position: relative;
  padding-top: 2.5rem;
  -webkit-animation-name: UpDown;
          animation-name: UpDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media screen and (max-width: 1025px) {
  .wrap header .header-bgImage .header-main {
    font-size: 4.5rem;
  }
}
@media (max-width: 769px) {
  .wrap header .header-bgImage .header-main {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 4rem;
  }
  .wrap header .header-bgImage .header-main > p.icon-arrow-down {
    display: none;
  }
}
@media (max-width: 426px) {
  .wrap header .header-bgImage .header-main {
    font-size: 2.5rem;
    padding: 3rem 4%;
  }
  .wrap header .header-bgImage .header-main > p.icon-arrow-down {
    display: none;
  }
}
.wrap .main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.wrap .main > div {
  max-width: 50%;
}
.wrap .main > div > h2 {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 900;
}
.wrap .main > div > p {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  color: #8A8990;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
.wrap .main > div > p + p {
  color: #000;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}
.wrap .main > div > img {
  max-width: 100%;
  vertical-align: bottom;
}
.wrap .main > div:nth-child(1), .wrap .main > div:nth-child(4) {
  padding: 0 5%;
}
@media (max-width: 769px) {
  .wrap .main {
    flex-direction: column;
  }
  .wrap .main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 490px;
  }
  .wrap .main > div > h2 {
    font-size: 4.5rem;
    font-weight: 700;
  }
  .wrap .main > div > p {
    padding: 2.5rem 0;
    font-size: 1.2rem;
  }
  .wrap .main > div > p + p {
    font-size: 2rem;
  }
  .wrap .main > div:nth-child(1), .wrap .main > div:nth-child(4) {
    padding: 0 3%;
  }
}
@media (max-width: 426px) {
  .wrap .main > div {
    height: 300px;
  }
  .wrap .main > div > h2 {
    font-size: 2.5rem;
  }
  .wrap .main > div > p {
    padding: 0.5rem 0;
  }
}
.wrap .textimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .textimonials > h3 {
  padding-top: 3rem;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: #8A8990;
}
.wrap .textimonials .items {
  display: flex;
  padding-top: 2.5rem;
}
.wrap .textimonials .items > .item {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrap .textimonials .items > .item > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.wrap .textimonials .items > .item > p {
  line-height: 1.4rem;
  padding-top: 3rem;
  font-size: 1.2rem;
}
.wrap .textimonials .items > .item > p + p {
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.wrap .textimonials .items > .item > .text {
  padding-bottom: 1.5rem;
}
@media (max-width: 769px) {
  .wrap .textimonials > h3 {
    text-align: center;
  }
  .wrap .textimonials > .items {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 426px) {
  .wrap .textimonials > h3 {
    font-size: 1.7rem;
  }
  .wrap .textimonials .items {
    flex-direction: column;
    padding: 2rem 10%;
  }
  .wrap .textimonials .items > .item {
    padding-bottom: 1rem;
  }
}
.wrap .images {
  display: flex;
  padding-top: 3rem;
}
.wrap .images > img {
  width: 25%;
  max-height: 400px;
}
@media (max-width: 426px) {
  .wrap .images {
    padding-top: 0;
  }
}
.wrap footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #90D4C5;
  padding-top: 2rem;
}
.wrap footer > h2 {
  font-family: "Barlow", sans-serif;
  color: #32796B;
  font-size: 4.5rem;
  font-weight: 500;
  cursor: default;
}
.wrap footer > .footer-link {
  display: flex;
  padding: 1rem;
}
.wrap footer > .footer-link > div {
  padding: 0 0.5rem;
}
.wrap footer > .footer-link > div:hover {
  background-color: #6fc6b3;
  border-radius: 5rem;
  transition: all 2s;
}
.wrap footer > .footer-link > div:hover a {
  font-weight: 600;
}
.wrap footer > .footer-link > div > a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #488C7D;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.wrap footer > .footer-icon {
  padding-bottom: 2rem;
}
.wrap footer > .footer-icon > .icon-link > img {
  padding: 0 0.5rem;
  cursor: pointer;
}
@media (max-width: 769px) {
  .wrap footer {
    padding-top: 1rem;
  }
  .wrap footer > h2 {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */