@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,500;9..144,700;9..144,900&display=swap');
@import 'font';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Font family
$font-family-Barlow: 'Barlow', sans-serif;
$font-family-Fraunces: 'Fraunces', serif;

body,html 
{
    font-family: $font-family-Barlow;
}

//keyframes
@keyframes UpDown{
    0% {top: 0;}
    100% {top: 1rem;}
}

// media query
@mixin pad 
{
    @media (max-width: 769px) {
        @content;
    }
}
@mixin mobile 
{
    @media (max-width: 426px) {
        @content;
    }
}

.wrap
{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    header
    {
        color: $primary;
        position: relative;
        .header-bgImage
        {
            background-image: url(../images/desktop/image-header.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 75vh;
            .nav
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 2rem;
                font-family: $font-family-Barlow;
                @include pad 
                {
                    padding: 1rem;
                }
                .logo
                {
                    padding-left: 2rem;
                    font-size: $size-big;
                    font-weight: $weight-regular;
                    cursor: pointer;
                    @include pad 
                    {
                        padding-left: 0;
                    }
                }
                .nav-item
                {
                    display: flex;
                    cursor: pointer;
                    & > div 
                    {
                        padding: 1rem 2rem;
                        & > a 
                        {
                            font-size: $size-small;
                            font-weight: $weight-light;
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                    & > div:hover
                    {
                        background-color: $blue-300;
                        border-radius: 5rem;
                    }
                    @include pad 
                    {
                        display: none;
                    }
                }
                .nav-menu 
                {
                    display: none;
                    @include pad 
                    {
                        display: block;
                        & > img 
                        {
                            width: 30px;
                            height: 30px;
                        }
                        & > .menu-item
                        {
                            display: none;
                        }
                        &:hover .menu-item 
                        {
                            display: block;
                            position: absolute;
                            right: 2rem;
                            width: 40%;
                            height: auto;
                            background-color: $gray-300;
                            & > div 
                            {
                                font-size: $size-small;
                                padding: 1rem 1rem;
                                & > a 
                                {
                                    text-decoration: none;
                                    color: $primary;
                                }
                                &:hover 
                                {
                                    background-color: $blue-300;
                                }
                            }
                        }
                    }
                }
            }
            .header-main
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-family: $font-family-Fraunces;
                font-size: $size-biggest;
                font-weight: $weight-medium;
                letter-spacing: .2rem;
                padding-top: 3rem;
                & > p.icon-arrow-down
                {
                    position: relative;
                    padding-top: 2.5rem;
                    animation-name: UpDown;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-direction:alternate;
                    animation-iteration-count: infinite;
                }
                @include pad 
                {
                    font-size: $size-big;
                    padding-top: 4rem;
                    & > p.icon-arrow-down 
                    {
                        padding-top: 2rem;
                    }
                }
                @include mobile
                {
                    font-size: $size-big;
                    padding: 3rem 4%;
                    & > p.icon-arrow-down 
                    {
                        display: none;
                    }
                }
            }
        }
    }
    .main 
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & > div
        {
            max-width: 50%;
            & > h2 
            {
                font-family: $font-family-Fraunces;
                font-size: $size-biggest;
                font-weight: $weight-bold;
            }
            & > p 
            {
                padding-top: 2rem;
                font-size: $size-small;
                color: #8A8990;
                font-family: $font-family-Barlow;
                font-weight: $weight-light;
                & + p 
                {
                    color: $secondary;
                    font-family: $font-family-Fraunces;
                    font-size: $size-medium;
                    font-weight: $weight-medium;
                }
            }
            & > img 
            {
                max-width: 100%;
                vertical-align: bottom;
            }
            &:nth-child(1),
            &:nth-child(4)
            {
                padding: 2% 3%;
            }
        }
        @include pad 
        {
            flex-direction: column;
            & > div 
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 100%;
                height: 600px;
                & > h2 
                {
                    font-size: $size-biggest;
                    font-weight: $weight-medium;
                }
                & > p 
                {
                    padding: 2.5rem 0;
                    font-size: $size-small;
                    & + p 
                    {
                        font-size: $size-medium;
                    }
                }
                &:nth-child(1),
                &:nth-child(4)
                {
                    padding: 10% 3%;
                }
            }
        }
        @include mobile
        {
            & > div 
            {
                height: 350px;
                & > h2 
                {
                    font-size: $size-big;
                }
                & > p 
                {
                    padding: 1rem 0;
                }
            }
        }
    }
    .textimonials
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > h3 
        {
            padding-top: 3rem;
            font-family: $font-family-Fraunces;
            font-size: $size-big;
            font-weight: $weight-regular;
            letter-spacing: .2rem;
            color: $gray-300;
        }
        .items
        {
            display: flex;
            flex-wrap: wrap;
            padding-top: 2.5rem;
            & > .item 
            {
                padding: 0 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                & > img 
                {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                & > p 
                {
                    line-height: 1.4rem;
                    padding-top: 3rem;
                    font-size: $size-small;
                    & + p 
                    {
                        padding-bottom: .5rem;
                        font-weight: $weight-medium;
                    }
                }
                & > .text 
                {
                    padding-bottom: 1.5rem;
                }
            }
        }
        @include mobile 
        {
            & > h3 
            {
                font-size: $size-small + 0.5rem;
            }
            .items 
            {
                flex-direction: column;
                padding: 2rem 10%;
                & > .item 
                {
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .images
    {
        display: flex;
        padding-top: 3rem;
        & > img 
        {
            width: 25%;
            max-height: 400px;
        }
        @include mobile
        {
            padding-top: 0;
        }
    }
    footer 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $green-300;
        padding-top: 2rem;
        & > h2 
        {
            font-family: $font-family-Barlow;
            color: $green-900;
            font-size: $size-biggest;
            font-weight: $weight-regular;
            cursor: default;
        }
        & > .footer-link 
        {
            display: flex;
            padding: 1rem;
            & > div 
            {
                padding: .5rem 1.5rem;
                &:hover 
                {
                    background-color: $green-500;
                    border-radius: 2rem;
                }
                & > a 
                {
                    text-decoration: none;
                    color: $green-700;
                    font-family: $font-family-Barlow;
                    font-size: $size-small;
                    font-weight: $weight-regular;
                }
            }
        }
        & > .footer-icon 
        {
            padding-bottom: 2rem;
            & > .icon-link 
            {
                & > img 
                {
                    padding: 0 .5rem;
                    cursor: pointer;
                }
            }
        }
        @include pad 
        {
            padding-top: 1rem;
            & > h2
            {
                font-size: $size-big;
            }
        }
    }
}