@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes UpDown {
  0% {
    top: 0;
  }
  100% {
    top: 1rem;
  }
}

@keyframes UpDown {
  0% {
    top: 0;
  }
  100% {
    top: 1rem;
  }
}
.wrap {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
.wrap header {
  color: #fff;
}
.wrap header .header-bgImage {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.wrap header .header-bgImage .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Barlow", sans-serif;
  padding: 1.5rem 3rem 0 2rem;
}
.wrap header .header-bgImage .nav .logo {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.wrap header .header-bgImage .nav .nav-item {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}
.wrap header .header-bgImage .nav .nav-item > div {
  padding: 1rem 2rem;
}
.wrap header .header-bgImage .nav .nav-item > div > a {
  text-decoration: none;
  color: #fff;
}
.wrap header .header-bgImage .nav .nav-item > div:hover {
  background-color: #6FCFFF;
  border-radius: 2rem;
}
.wrap header .header-bgImage .header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Fraunces", serif;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  padding-top: 5rem;
}
.wrap header .header-bgImage .header-main > p.icon-arrow-down {
  position: relative;
  padding-top: 6.5rem;
  -webkit-animation-name: UpDown;
          animation-name: UpDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.wrap .main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrap .main > div {
  width: 50%;
}
.wrap .main > div > h2 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
}
.wrap .main > div > p {
  padding-top: 2rem;
  font-size: 1rem;
  color: #8A8990;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.wrap .main > div > p + p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  font-family: "Fraunces", serif;
}
.wrap .main > div > img {
  vertical-align: bottom;
}
.wrap .main > div:nth-child(1), .wrap .main > div:nth-child(4) {
  padding: 5rem;
}
.wrap .textimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .textimonials > h3 {
  padding-top: 5rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #8A8990;
}
.wrap .textimonials .items {
  display: flex;
  padding-top: 2.5rem;
}
.wrap .textimonials .items > .item {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrap .textimonials .items > .item > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.wrap .textimonials .items > .item > p {
  padding-top: 3rem;
}
.wrap .textimonials .items > .item > .text {
  padding-top: -3rem;
}
.wrap .images {
  display: flex;
  padding-top: 3rem;
}
.wrap .images > img {
  width: 25%;
}
.wrap footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #90D4C5;
  padding-top: 2rem;
}
.wrap footer > h2 {
  font-family: "Barlow", sans-serif;
  color: #32796B;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
}
.wrap footer > .footer-link {
  display: flex;
}
.wrap footer > .footer-link > div {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}
.wrap footer > .footer-link > div:hover {
  background-color: #6fc6b3;
  border-radius: 2rem;
}
.wrap footer > .footer-link > div > a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: #488C7D;
  font-weight: 600;
}
.wrap footer > .footer-icon {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.wrap footer > .footer-icon > .icon-link > img {
  padding: 0 0.5rem;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */